h4 {
  margin-bottom: 10px;
}
.container {
  margin: auto;
  padding: 10px;
  /* background: #f7f7f7; */
  background: #181c28;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#summary_cards {
  margin: 10px 0;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.card {
  min-width: 500px;

  /* background: white; */
  background: #292d39;
  margin: 10px;
}

#summary_cards .card {
  min-width: 300px;
  max-width: 300px;
}
.card .heading {
  border-bottom: 1px solid #181c28;
  padding: 10px 15px;
}

.card .heading h4 {
  color: white;
}

.details {
  list-style: none;
  max-height: 250px;
  overflow-y: scroll;
}

.details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 2px solid #181c28;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

form input {
  background: #181c28;
  border: none;
  color: white;
}

form > * {
  margin: 5px 15px;
  padding: 10px 15px;
}

form .category {
  display: flex;
  justify-content: center;
  align-items: center;
}

select#category {
  background: #181c28;
  color: white;
  border: none;
}

form button {
  background-color: darkseagreen;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  width: 150px;
  border-radius: 3px;
  cursor: pointer;
  margin: auto !important;
}

.signin_signup_form {
  width: 300px;
  background: #292d39;
  color: white;
  padding: 10px 15px;
  height: 300px;
}
.signin_signup_form form > * {
  margin: 5px 0;
}

.signin_signup_form form button {
  margin-top: 10px !important;
}

@media screen and (max-width: 767px) {
  .card {
    min-width: 300px;
    max-width: 300px;
  }
  .details {
    max-height: 100px;
  }
}
